.facts_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 12%;
  margin: 5rem 0;
}

.container_info {
  .container_title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  .container_subtitle {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}

.environmental_cards_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5rem;
  row-gap: 6rem;
  justify-items: center;
  align-items: center;
  margin-top: 3rem;
  width: 100%;
  height: max-content;
}

.environmental_card_01 {
  position: relative;
  margin-top: 4rem;
  width: 450px;
  height: 450px;
}

.environmental_card_02 {
  position: relative;
  width: 450px;
  height: 450px;
}

.environmental_card_03 {
  position: relative;
  width: 450px;
  height: 450px;
}

.environmental_card_04 {
  position: relative;
  width: 450px;
  height: 450px;
}

.color_grey {
  background-color: gray;
}

.color_green {
  background-color: green;
}

.color_brown {
  background-color: burlywood;
}

.color_blue {
  background-color: paleturquoise;
}

.card_info {
  position: absolute;
  width: 450px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .content {
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 2.2rem;
    text-align: left;
    padding: 2rem;
    cursor: pointer;
  }
}

.card_img {
  position: absolute;
  width: 450px;
  height: 450px;
  top: 2rem;
  left: 2rem;
  transition: all 2s ease-in-out;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &:hover {
    transition: all 2s ease-in-out;
    opacity: 0;
  }
}

.card_img_bg {
    position: absolute;
    width: 450px;
    height: 450px;
    top: 2rem;
    left: 2rem;
    transition: all 2s ease-in-out;
    z-index: -1;
  
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }